@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.eyes {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  background: url(assets/img/eyesc.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}